@page
@model Web.Pages.Launches.DetailsModel

<div class="row">
    <h3>
        Launch
    </h3>
    <hr />
    <div class="col-12">
        <div class="card mb-4">
            <div class="row">
                <div class="col-lg-3">
                    <img src="@Model.Launch.ImageUrl" class="img-fluid rounded-start card-img-left-cover"/>
                </div>
                <div class="col-lg-9">
                    <div class="card-body text-center">
                        <h2 class="card-title">
                            @Model.Launch.Name
                        </h2>
                        @if(Model.Launch.Mission != null)
                        {
                            <hr />
                            <h5 class="text-muted">
                                @Model.Launch.Mission
                            </h5>
                        }
                        <hr />
                        <h3 class="@if(Model.Launch.StatusName == "Go for Launch")
                        {
                            <text>text-success</text>
                        }
                        else 
                        {
                            <text>text-warning</text>
                        }">
                        @Model.Launch.StatusName
                        </h3>
                        <h5 class="text-muted">
                            @Model.Launch.StatusDescription
                        </h5>
                        <h3>
                            @Model.Launch.Date
                        </h3>
                        @if(Model.Launch.WindowStart != null && Model.Launch.WindowEnd != null)
                        {
                            <h5 class="text-muted">
                                @Model.Launch.WindowStart - @Model.Launch.WindowEnd
                            </h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>
        Agency
    </h3>
    <hr />
    <div class="col-12">
        <div class="card mb-4">
            <div class="row">
                <div class="col-lg-3">
                    <img src="@Model.Launch.AgencyImageUrl" class="img-fluid rounded-start card-img-left-scale"/>
                </div>
                <div class="col-lg-9">
                    <div class="card-body text-center">
                        <h2 class="card-title">
                            @Model.Launch.AgencyName (@Model.Launch.AgencyCountryCode)
                        </h2>
                        <hr />
                        @if(Model.Launch.AgencyDescription != null)
                        {
                            <h5 class="text-muted">
                                @Model.Launch.AgencyDescription
                            </h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>
        Rocket
    </h3>
    <hr />
    <div class="col-12">
        <div class="card mb-4">
            <div class="row">
                <div class="col-lg-3">
                    <img src="@Model.Launch.RocketImageUrl" class="img-fluid rounded-start card-img-left-cover" />
                </div>
                <div class="col-lg-9">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            @Model.Launch.RocketName
                        </h2>
                        <hr />
                        <h5 class="text-center text-muted">
                            @Model.Launch.RocketDescription
                        </h5>
                        <hr />
                        <div class="row">
                            <div class="col-3">
                                Length
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketLength
                            </div>
                            <div class="col-3">
                                Diameter
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketDiameter
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Max Stages
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketMaxStages
                            </div>
                            <div class="col-3">
                                Launch Cost
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketLaunchCost
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Litfoff Mass
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketLiftoffMass
                            </div>
                            <div class="col-3">
                                Liftoff Thrust
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketLiftoffThrust
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                GEO Capacity
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketGeoCapacity
                            </div>
                            <div class="col-3">
                                LEO Capacity
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketLeoCapacity
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-3">
                                First Launch
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketFirstLaunch
                            </div>
                            <div class="col-3">
                                Successful Launches
                            </div>
                            <div class="col-3 text-end">
                                @Model.Launch.RocketSuccessfulLaunches
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>
        Pad
    </h3>
    <hr />
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title">
                    @Model.Launch.PadName
                </h2>
                <h4 class="text-muted">
                    @Model.Launch.PadLocationName
                </h4>
            </div>
            <img src="@Model.Launch.PadMapImageUrl" class="img-fluid rounded-bottom card-img-bottom" />
        </div>
    </div>
</div>
