@page
@model Web.Pages.Launches.DetailsModel

<div class="row">
    <h3>
        Launch
    </h3>
    <hr />
    <partial name="_LaunchDetailsCard" model="@Model.Launch" />
    <h3>
        Agency
    </h3>
    <hr />
    <partial name="_AgencyCard" model="@Model.Agency" />
    <h3>
        Rocket
    </h3>
    <hr />
    <partial name="_RocketDetailsCard" model="@Model.Rocket" />
    @if(Model.Programs.Count > 0)
    {
        <h3>
            Programs
        </h3>
        <hr />
        <div class="col-12">
            <div class="card mb-4 p-4 pb-0">
                <div class="row">
                    @foreach(var program in Model.Programs)
                    {
                        <partial name="_SpaceProgramCard" model="@program"/>
                    }
                </div>
            </div>
        </div>
    }
    <h3>
        Pad
    </h3>
    <hr />
    <partial name="_PadCard" model="@Model.Pad" />
</div>