@page
@model Web.Pages.News.IndexModel

<form class="d-flex" method="post">
    <input asp-for="SearchValue" class="form-control me-sm-2" placeholder="Search" />
    <button class="btn btn-primary my-2 my-sm-0" asp-page="/News/Index" type="submit">Search</button>
</form>

@if(Model.Articles != null)
{
    <ul class="list-group mt-3">
    @foreach(var article in Model.Articles)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-3">
                    <img src="@article.ImageUrl" width="100%"/>
                </div>
                <div class="col-9">
                    <h4>
                        <a href="@article.Url" target="_blank">@article.Title</a>
                    </h4>
                    <p>@article.Summary</p>
                    @article.NewsSite
                    @article.PublishDate
                </div>
            </div>
        </li>
    }
    </ul>
}


