@page
@using Library.Extensions
@model Web.Pages.Rockets.RankingsModel

<div class="accordion" id="propertiesAccordion">
@foreach(var (propertyType, properties) in Model.RankedProperties)
{
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading@{<text>@propertyType</text>}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@{<text>@propertyType</text>}" aria-expanded="false" aria-controls="collapse@{<text>@propertyType</text>}">
                @propertyType.GetDisplayName()
            </button>
        </h2>
        <div id="collapse@{<text>@propertyType</text>}" class="accordion-collapse collapse" aria-labelledby="heading@{<text>@propertyType</text>}" data-bs-parent="#propertiesAccordion">
            <div class="accordion-body">
                <table class="table">
                    <tbody>
                        @for(int i = 0; i < properties.Count; ++i)
                        {
                            <tr>
                                <td>
                                    @if(i == 0)
                                    {
                                        <h3>
                                            <i class="bi bi-trophy-fill trophy-gold"></i>&nbsp; 
                                            <a class="link-no-decor text-white" asp-page="/Rockets/Details" asp-route-id="@properties[i].ApiId">
                                                @properties[i].RocketName
                                            </a>
                                        </h3>
                                    }
                                    else if(i == 1)
                                    {
                                        <h4>
                                            <i class="bi bi-trophy-fill trophy-silver"></i>&nbsp;
                                            <a class="link-no-decor text-white" asp-page="/Rockets/Details" asp-route-id="@properties[i].ApiId">
                                                @properties[i].RocketName
                                            </a>
                                        </h4>
                                    }
                                    else if(i == 2)
                                    {
                                        <h5>
                                            <i class="bi bi-trophy-fill trophy-bronze"></i>&nbsp;
                                            <a class="link-no-decor text-white" asp-page="/Rockets/Details" asp-route-id="@properties[i].ApiId">
                                                @properties[i].RocketName
                                            </a>
                                        </h5>
                                    }
                                    else
                                    {
                                        <a class="link-no-decor text-white" asp-page="/Rockets/Details" asp-route-id="@properties[i].ApiId">
                                            @properties[i].RocketName
                                        </a>
                                    }
                                </td>
                                <td class="text-end">
                                    @if(i == 0)
                                    {
                                        <h3>
                                            @properties[i].Value
                                            @if(properties[i].SecondaryValue != null)
                                            {
                                                <text> (@properties[i].SecondaryValue)</text>
                                            }
                                        </h3>
                                    }
                                    else if(i == 1)
                                    {
                                        <h4>
                                            @properties[i].Value
                                            @if(properties[i].SecondaryValue != null)
                                            {
                                                <text> (@properties[i].SecondaryValue)</text>
                                            }
                                        </h4>
                                    }
                                    else if(i == 2)
                                    {
                                        <h5>
                                            @properties[i].Value
                                            @if(properties[i].SecondaryValue != null)
                                            {
                                                <text> (@properties[i].SecondaryValue)</text>
                                            }
                                        </h5>
                                    }
                                    else
                                    {
                                        @properties[i].Value
                                        if(properties[i].SecondaryValue != null)
                                        {
                                            <text> (@properties[i].SecondaryValue)</text>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
</div>

