@page "/launches"
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@using MudBlazor
@using SpaceHub.Contracts.ViewModels;
@using SpaceHub.Contracts.Enums;
@using SpaceHub.Web.Client.Components
@using SpaceHub.Web.Client.Utils;
@using System.Timers;
@using System.Net;

<style>
    @@media only screen and (max-width: 1280px) {
        .launch_img {
            width: 100%;
            height: auto;
        }

        .card_img_rounded {
            border-top-left-radius: var(--mud-default-borderradius) !important;
            border-top-right-radius: var(--mud-default-borderradius) !important;
        }
    }

    @@media only screen and (min-width: 1280px) {
        .launch_img {
            width: 100%;
            height: 100%;
            max-height: 250px;
        }

        .card_img_rounded {
            border-top-left-radius: var(--mud-default-borderradius) !important;
            border-bottom-left-radius: var(--mud-default-borderradius) !important;
        }
    }
</style>

@if(_viewModel is not null)
{
    <MudGrid Class="d-flex">
        <MudItem xs="12" Class="pb-0">
            <MudRadioGroup T="ETimeFrame" SelectedOptionChanged="OnTimeFrameChanged" SelectedOption="_timeFrame">
                <MudRadio Option="ETimeFrame.Upcoming" Color="Color.Success">Upcoming</MudRadio>
                <MudRadio Option="ETimeFrame.Previous" Color="Color.Error">Previous</MudRadio>
            </MudRadioGroup>
        </MudItem>
        <MudItem xs="12" Class="pt-0">
            <MudTextField Label="Search" T="string" TextChanged="OnSearchChanged"
                      Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
        </MudItem>
            @foreach (var launch in _viewModel.Launches)
            {
                <MudItem xs="12">
                <MudPaper Style="background-color: var(--mud-palette-dark);">
                        <MudPaper>
                        <MudGrid>
                            <MudItem md="12" lg="3" Class="d-flex justify-center py-0">
                                <MudImage Src="@launch.ImageUrl" ObjectFit="ObjectFit.Cover" Class="card_img_rounded launch_img" />
                            </MudItem>
                            <MudItem md="12" lg="9">
                                <MudText Typo="Typo.h4" Color="Color.Primary" Align="Align.Center">
                                    @launch.Name
                                </MudText>
                                <MudText Typo="Typo.body1" Align="Align.Center">
                                    <b>@launch.AgencyName | @launch.PadLocationName | @launch.Date.GetValueOrDefault().ToString("d")</b>
                                </MudText>
                                <MudText Typo="Typo.body2" Align="Align.Center" Class="py-1">
                                    @launch.MissionDescription
                                </MudText>
                                <MudDivider/>
                                <MudText Typo="Typo.h3" Align="Align.Center" Class="pt-1">
                                    @if(launch.Upcoming)
                                    {
                                        <CountdownTimer Date="@launch.Date.Value"/>
                                    }
                                    else
                                    {
                                        @launch.Date
                                    }
                                </MudText>
                                <MudText Typo="Typo.h5" Align="Align.Center" Color="@StatusColor(launch.Status)">
                                    (@launch.Status)
                                </MudText>
                            </MudItem>
                        </MudGrid>
                        </MudPaper>
                        @if (_launchesDetails.TryGetValue(launch.Id, out var details) && details.Visible && details.Data is not null)
                        {
                            <MudGrid>
                                <MudItem xs="12" Class="mx-6 mt-8 mb-2">
                                    <MudPaper>
                                        <MudGrid>
                                            <MudItem md="12" lg="3" Class="d-flex justify-center py-0">
                                                <MudImage Src="@details.Data.Agency.ImageUrl" ObjectFit="ObjectFit.ScaleDown" Fluid="true" Class="card_img_rounded" />
                                            </MudItem>
                                            <MudItem md="12" lg="9">
                                                <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary">
                                                    @details.Data.Agency.Name
                                                </MudText>
                                                <MudText Typo="Typo.body2" Align="Align.Center">
                                                    @details.Data.Agency.Description
                                                </MudText>
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                </MudItem>
                                <RocketCard Rocket="@details.Data.Rocket" Nested="@true"/>
                            </MudGrid>
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" Class="mb-10 mt-0 py-0 d-flex flex-column align-center">
                <MudButton Variant="Variant.Filled" Color="@GetExpanderColor(launch.Id)" StartIcon="@GetExpanderIcon(launch.Id)" Style="width: 100%;" OnClick="(e) => ToggleLaunchDetails(launch.Id)"></MudButton>
                </MudItem>
            }
    </MudGrid>

    <div class="d-flex flex-column align-center my-8">
        <MudPagination Count="@_viewModel.TotalPagesCount" Size="Size.Large" SelectedChanged="OnPageChanged" />
    </div>
}

@code {
    private LaunchesVM? _viewModel;

    private ETimeFrame _timeFrame = ETimeFrame.Upcoming;
    private string _searchValue = string.Empty;
    private int _pageNumber = 1;
    private int _itemsPerPage = 10;

    private class LaunchDetails
    {
        public LaunchDetailsVM? Data { get; set; }
        public bool Visible { get; set; } = false;
    }

    private Dictionary<string, LaunchDetails> _launchesDetails = new();

    protected override async Task OnInitializedAsync()
    {
        await UpdateLaunches();
    }

    private async Task UpdateLaunches()
    {
        var url = new UrlBuilder("api/launches")
            .AddParameter("timeFrame", _timeFrame)
            .AddParameter("searchValue", _searchValue)
            .AddParameter("pageNumber", _pageNumber)
            .AddParameter("itemsPerPage", _itemsPerPage)
            .Url;
        // TODO: Move request handling to helper class
        var response = await _httpClient.GetAsync(url);
        if(response.IsSuccessStatusCode)
        {
            _viewModel = await _httpClient.GetFromJsonAsync<LaunchesVM>(url);
        }
        else if(response.StatusCode == HttpStatusCode.BadRequest)
        {
            // TODO: Bad request - pop-up or ?
        }
    }

    private async Task OnTimeFrameChanged(ETimeFrame timeFrame)
    {
        _timeFrame = timeFrame;
        await UpdateLaunches();
    }

    private async Task OnSearchChanged(string searchValue)
    {
        _searchValue = searchValue;
        await UpdateLaunches();
    }

    private async Task OnPageChanged(int pageNumber)
    {
        _pageNumber = pageNumber;
        await UpdateLaunches();
        await _jsRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
    }

    private Color StatusColor(string status) => status.ToLower() switch
    {
        "go for launch" or "launch successful" => Color.Success,
        "to be confirmed" or "to be determined" => Color.Warning,
        "launch failure" => Color.Error,
        _ => Color.Default
    };

    private async Task ToggleLaunchDetails(string id)
    {
        if(!_launchesDetails.TryGetValue(id, out var launchDetails))
        {
            _launchesDetails.Add(id, new LaunchDetails()
            {
                Data = null,
                Visible = true
            });
            StateHasChanged();

            var url = new UrlBuilder("api/launches/" + id).Url;
            var response = await _httpClient.GetAsync(url);
            if(response.IsSuccessStatusCode)
            {
                var data = await response.Content.ReadFromJsonAsync<LaunchDetailsVM>();
                _launchesDetails[id].Data = data;
            }
            else if(response.StatusCode == HttpStatusCode.NotFound)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                // TODO: Display pop-up & hide the expandable view?
            }
        }   
        else
        {
            launchDetails.Visible = !launchDetails.Visible;
        }
    }

    private Color GetExpanderColor(string id)
    {
        var unexpandedColor = Color.Dark;
        var expandedColor = Color.Primary;
        if(!_launchesDetails.TryGetValue(id, out var launchDetails))
        {
            return unexpandedColor;
        }

        return launchDetails.Visible ? expandedColor : unexpandedColor;
    }

    private string GetExpanderIcon(string id)
    {
        var unexpandedIcon = Icons.Material.Filled.ExpandMore;
        var expandedIcon = Icons.Material.Filled.ExpandLess;
        if (!_launchesDetails.TryGetValue(id, out var launchDetails))
        {
            return unexpandedIcon;
        }

        return launchDetails.Visible ? expandedIcon : unexpandedIcon;
    }
}
