@model AgencyCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start card-img-left-scale"/>
            </div>
            <div class="col-lg-9">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        @Model.Name (@Model.CountryCode)
                    </h2>
                    <hr />
                    @if(Model.Description != null)
                    {
                        <h5 class="text-muted">
                            @Model.Description
                        </h5>
                    }
                    <partial name="_SiteAndWikiLinks" model="@Tuple.Create(Model.InfoUrl, Model.WikiUrl)" />
                </div>
            </div>
        </div>
    </div>
</div>