@model LaunchDetailsCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start card-img-left-cover"/>
            </div>
            <div class="col-lg-9">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        @Model.Name
                    </h2>
                    @if(Model.Mission != null)
                    {
                        <hr />
                        <h5 class="text-muted">
                            @Model.Mission
                        </h5>
                    }
                    <hr />
                    <h3 class="@if(Model.StatusName == "Go for Launch" || Model.StatusName == "Launch Successful")
                    {
                        <text>text-success</text>
                    }
                    else 
                    {
                        <text>text-warning</text>
                    }">
                    @Model.StatusName
                    </h3>
                    <h5 class="text-muted">
                        @Model.StatusDescription
                    </h5>
                    @if(Model.Upcoming)
                    {
                        <h1 id="countdownTimerLaunch">
                            00:00:00:00
                        </h1>
                        <h4>
                            @Model.Date
                        </h4>
                    }
                    else
                    {
                        <h3>
                            @Model.Date
                        </h3>
                    }
                    @if(Model.WindowStart != null && Model.WindowEnd != null)
                    {
                        <h5 class="text-muted">
                            @Model.WindowStart - @Model.WindowEnd
                        </h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dateLaunch = @Model.DateJsMilliseconds;

    var countdownLaunch = setInterval(function() {
        var nowLaunch = new Date().getTime();
        var diffLaunch = dateLaunch - nowLaunch;

        var daysLaunch = String(Math.floor(diffLaunch / (1000 * 60 * 60 * 24))).padStart(2, '0');
        var hoursLaunch = String(Math.floor((diffLaunch % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))).padStart(2, '0');
        var minutesLaunch = String(Math.floor((diffLaunch % (1000 * 60 * 60)) / (1000 * 60))).padStart(2, '0');
        var secondsLaunch = String(Math.floor((diffLaunch % (1000 * 60)) / 1000)).padStart(2, '0');

        $("#countdownTimerLaunch").html(daysLaunch + ":" + hoursLaunch + ":" + minutesLaunch + ":" + secondsLaunch);

        if(diffLaunch < 0) {
            clearInterval(countdownLaunch);
            $("#countdownTimerLaunch").html("00:00:00:00");
        }
    }, 1000);
</script>