@model (LaunchDetailsCardViewModel, string)

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.Item1.ImageUrl" class="img-fluid rounded-start card-img-left-cover"/>
            </div>
            <div class="col-lg-9">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        @Model.Item1.Name
                    </h2>
                    @if(Model.Item1.Mission != null)
                    {
                        <hr />
                        <h5 class="text-muted">
                            @Model.Item1.Mission
                        </h5>
                    }
                    <hr />
                    <h3 class="@if(Model.Item1.StatusName == "Go for Launch" || Model.Item1.StatusName == "Launch Successful")
                    {
                        <text>text-success</text>
                    }
                    else 
                    {
                        <text>text-warning</text>
                    }">
                    @Model.Item1.StatusName
                    </h3>
                    <h5 class="text-muted">
                        @Model.Item1.StatusDescription
                    </h5>
                    @if(Model.Item1.Upcoming)
                    {
                        <h1 id="countdownTimerLaunch">
                            00:00:00:00
                        </h1>
                        <h4>
                            @Model.Item1.Date
                        </h4>
                    }
                    else
                    {
                        <h3>
                            @Model.Item1.Date
                        </h3>
                    }
                    @if(Model.Item1.WindowStart != null && Model.Item1.WindowEnd != null)
                    {
                        <h5 class="text-muted">
                            @Model.Item1.WindowStart - @Model.Item1.WindowEnd
                        </h5>
                    }
                    @if(Model.Item1.VideoUrl != null)
                    {
                        <hr />
                        <a class="btn btn-outline-danger w-100" target="_blank" href="@Model.Item1.VideoUrl">
                            <i class="fa-brands fa-youtube"></i>
                            &nbsp; Watch
                        </a>
                    }
                </div>
            </div>
        </div>
        @if(SignInManager.IsSignedIn(User))
        {
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#saveToggle" asp-page="@Model.Item2" asp-page-handler="ToggleSave" asp-route-launchId="@Model.Item1.ApiId">
                <button id="saveToggle" type="submit" class="position-absolute top-100 start-100 translate-middle btn btn-secondary btn-sm">
                    @if(Model.Item1.IsSaved)
                    {
                        <i class="bi bi-bookmark-dash"></i>
                    }
                    else
                    {
                        <i class="bi bi-bookmark-plus"></i> 
                    }
                </button>
            </form>            
        }
    </div>
</div>

<script type="text/javascript">
    var dateLaunch = @Model.Item1.DateJsMilliseconds;

    var countdownLaunch = setInterval(function() {
        var nowLaunch = new Date().getTime();
        var diffLaunch = dateLaunch - nowLaunch;

        var daysLaunch = String(Math.floor(diffLaunch / (1000 * 60 * 60 * 24))).padStart(2, '0');
        var hoursLaunch = String(Math.floor((diffLaunch % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))).padStart(2, '0');
        var minutesLaunch = String(Math.floor((diffLaunch % (1000 * 60 * 60)) / (1000 * 60))).padStart(2, '0');
        var secondsLaunch = String(Math.floor((diffLaunch % (1000 * 60)) / 1000)).padStart(2, '0');

        $("#countdownTimerLaunch").html(daysLaunch + ":" + hoursLaunch + ":" + minutesLaunch + ":" + secondsLaunch);

        if(diffLaunch < 0) {
            clearInterval(countdownLaunch);
            $("#countdownTimerLaunch").html("00:00:00:00");
        }
    }, 1000);
</script>