@model PadCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">
                @Model.Name
            </h2>
            <h4 class="text-muted">
                @Model.LocationName
            </h4>
            <div class="d-flex justify-content-end">
                @if(Model.InfoUrl != null)
                {
                    <a class="btn btn-primary" style="margin-right: 4px;" target="_blank" href="@Model.InfoUrl">
                        <i class="fa-solid fa-info"></i>
                        &nbsp; Info
                    </a>
                }
                @if(Model.WikiUrl != null)
                {
                    <a class="btn btn-primary" target="_blank" href="@Model.WikiUrl">
                        <i class="fa-brands fa-wikipedia-w"></i>
                        &nbsp; Wiki
                    </a>
                }
            </div>
        </div>
        <img src="@Model.MapImageUrl" class="img-fluid rounded-bottom card-img-bottom" />
    </div>
</div>
