@using System.Diagnostics
@model RocketDetailsCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start card-img-left-cover" />
            </div>
            <div class="col-lg-9">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        @Model.Name
                    </h2>
                    <hr />
                    <h5 class="text-center text-muted">
                        @Model.Description
                    </h5>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="Family"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Family
                        </div>
                        <div class="col-3">
                            <label asp-for="Variant"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Variant
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="Length"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Length
                            <label id="LengthProperty">
                            </label>
                        </div>
                        <div class="col-3">
                            <label asp-for="Diameter"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Diameter
                            <label id="DiameterProperty">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="MaxStages"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.MaxStages
                        </div>
                        <div class="col-3">
                            <label asp-for="LaunchCost"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LaunchCost
                            <label id="LaunchCostProperty">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="LiftoffMass"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LiftoffMass
                            <label id="LiftoffMassProperty">
                            </label>
                        </div>
                        <div class="col-3">
                            <label asp-for="LiftoffThrust"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LiftoffThrust
                            <label id="LiftoffThrustProperty">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="LeoCapacity"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LeoCapacity
                            <label id="LeoCapacityProperty">
                            </label>
                        </div>
                        <div class="col-3">
                            <label asp-for="GeoCapacity"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.GeoCapacity
                            <label id="GeoCapacityProperty">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="CostPerKgToLeo"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.CostPerKgToLeo
                            <label id="CostPerKgToLeoProperty">
                            </label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CostPerKgToGeo"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.CostPerKgToGeo
                            <label id="CostPerKgToGeoProperty">
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="SuccessfulLaunches"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.SuccessfulLaunches
                            <label id="SuccessfulLaunchesProperty">
                            </label>
                        </div>
                        <div class="col-3">
                            <label asp-for="TotalLaunches"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.TotalLaunches
                            <label id="TotalLaunchesProperty">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="FirstLaunch"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.FirstLaunch
                        </div>
                        <div class="col-3">
                            <label asp-for="LaunchSuccessPercent"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LaunchSuccessPercent
                            <label id="LaunchSuccessPercentProperty">
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex">
                        <div class="form-check form-switch me-auto">
                            <input class="form-check-input" type="checkbox" id="showPropertyRankToggle">
                            <label class="form-check-label" for="showPropertyRankToggle">Show Properties Ranks</label>
                        </div>
                        @if(Model.InfoUrl != null)
                        {
                            <a class="btn btn-primary" style="margin-right: 4px;" target="_blank" href="@Model.InfoUrl">
                                <i class="fa-solid fa-info"></i>
                                &nbsp; Info
                            </a>
                        }
                        @if(Model.WikiUrl != null)
                        {
                            <a class="btn btn-primary" target="_blank" href="@Model.WikiUrl">
                                <i class="fa-brands fa-wikipedia-w"></i>
                                &nbsp; Wiki
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var toggle = document.getElementById("showPropertyRankToggle");
    var goldTrophy = "<i class=\"bi bi-trophy-fill\" style=\"color:#D6AF36;\"></i> ";
    var silverTrophy = "<i class=\"bi bi-trophy-fill\" style=\"color:#A7A7AD;\"></i> ";
    var bronzeTrophy = "<i class=\"bi bi-trophy-fill\" style=\"color:#A77044;\"></i> ";

    toggle.addEventListener("change", function() {
        if(toggle.checked) {
            @{
                foreach(var propertyType in Enum.GetValues<RocketRankedPropertyType>())
                {
                    var rank = Model.RankedProperties[propertyType];
                    if(rank != null)
                        {
                            var htmlId = propertyType.ToString() + "Property";
                            <text>
                                var trophyText = @rank == 1 ? goldTrophy : (@rank == 2 ? silverTrophy : (@rank == 3 ? bronzeTrophy : ""));
                                $(@htmlId).html(" (" + trophyText + @rank.ToString() + ")");
                            </text>
                        }
                    
                }
            }
        }
        else {
            @{
                foreach(var propertyType in Enum.GetValues<RocketRankedPropertyType>())
                {
                    var htmlId = propertyType.ToString() + "Property";
                    <text>
                        $(@htmlId).html("");
                    </text>
                }
            }
        }
    });
</script>