@model RocketCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start card-img-left-cover" />
            </div>
            <div class="col-lg-9">
                <div class="card-body">
                    <h2 class="card-title text-center">
                        @Model.Name
                    </h2>
                    <hr />
                    <h5 class="text-center text-muted">
                        @Model.Description
                    </h5>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="Family"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Family
                        </div>
                        <div class="col-3">
                            <label asp-for="Variant"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Variant
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="Length"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Length
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.Length]" />
                        </div>
                        <div class="col-3">
                            <label asp-for="Diameter"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.Diameter
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.Diameter]" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="MaxStages"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.MaxStages
                        </div>
                        <div class="col-3">
                            <label asp-for="LaunchCost"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LaunchCost
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.LaunchCost]" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="LiftoffMass"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LiftoffMass
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.LiftoffMass]" />
                        </div>
                        <div class="col-3">
                            <label asp-for="LiftoffThrust"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LiftoffThrust
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.LiftoffThrust]" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="LeoCapacity"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.LeoCapacity
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.LeoCapacity]" />
                        </div>
                        <div class="col-3">
                            <label asp-for="GeoCapacity"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.GeoCapacity
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.GeoCapacity]" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="CostPerKgToLeo"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.CostPerKgToLeo
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.CostPerKgToLeo]" />
                        </div>
                        <div class="col-3">
                            <label asp-for="CostPerKgToGeo"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.CostPerKgToGeo
                            <partial name="_Trophy" model="@Model.RankedProperties[RocketRankedPropertyType.CostPerKgToGeo]" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-3">
                            <label asp-for="FirstLaunch"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.FirstLaunch
                        </div>
                        <div class="col-3">
                            <label asp-for="SuccessfulLaunches"></label>
                        </div>
                        <div class="col-3 text-end">
                            @Model.SuccessfulLaunches
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>