@model SpaceProgramCardViewModel

<div class="col-12">
    <div class="card mb-4">
        <div class="row">
            <div class="col-lg-3">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start card-img-left-scale"/>
            </div>
            <div class="col-lg-9">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        @Model.Name
                    </h2>
                    @if(Model.Description is not null)
                    {
                        <h5 class="text-muted">
                            @Model.Description
                        </h5>
                    }
                    @if(Model.StartDate is not null)
                    {
                        <hr />
                        <h4>
                            @if(Model.EndDate is not null)
                            {
                                <text>@Model.StartDate - @Model.EndDate</text>
                            }
                            else
                            {
                                <text>Since @Model.StartDate</text>
                            }
                        </h4>
                    }
                    <partial name="_SiteAndWikiLinks" model="@Tuple.Create(Model.InfoUrl, Model.WikiUrl)" />
                </div>
            </div>
        </div>
    </div>
</div>
